.t1 h1{
    font-size: 45px !important;
}

.col div{
    text-align: center;
}

.col img{
    padding-bottom: 0% !important;
}

.container{
    padding-bottom: 100px;
}

figcaption{
    text-align: center;
    width: 300px;
}