@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* General styles */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0%;
    background-color: white;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 75px;
}

.logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.company-name {
    font-size: 20px;
    font-weight: 500;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

nav ul li a:hover {
    color: gray;
}

nav ul li a:active {
    color: gray;
}

/* Main content styles */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px 0 20px;
    margin-top: 150px;
}

.content {
    max-width: 50%;
    margin-left: 150px;
    margin-top: 50px;
}

.content h1 {
    font-size: 36px;
    font-weight: 400 !important;
    letter-spacing: 2px;
    margin: 0%;
}

.content p {
    width: 350px;
    color: black;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 50px;
}

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.icon {
    object-fit: fill;
    align-items: center;
}

.blank {
    padding-left: 30px;
}

.icon-text {
    width: 80px;
}

.icon-text span {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.icon img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.icon p {
    font-size: 10px;
    color: black;
}

.company-name,
.content h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

/* Main image styles */
.main-image {
    margin-right: 80px;
    height: 500px;
}

.main-image img {
    width: 500px;
    height: 500px;
    object-fit: fill;
}

/* Purpose Section */
.purpos {
    height: 350px;
    background-color: #ddde46;
    display: flex;
    align-items: center;
    padding: 40px;

}

.purpos div {
    width: 50%;
}

.purpos div h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

.purpos div p {
    text-align: left;
    width: 450px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
}

.my-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8%;
}

@media (min-width: 768px) {
    .my-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .my-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .my-container {
        width: 1170px;
    }
}

.my-container h1 {
    text-align: center;
    margin-bottom: 60px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    font-size: 35px;
    text-align: center;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 150px;
}

.col img{
    padding-bottom: 40px;
}

.col h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 200px;
}

.col p{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding: 0 30px;
    line-height: 1.1rem;
    
}

.col p{
    padding-bottom: 75px;
}

.horizon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  hr {
    opacity: 1; /* Bootstrap override, thanks fcc fourm mod lasjorg for the help */
  }

.section-title-hr {
    width: 175px;
    height: 1px;
    /* border: 0.5px solid rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0);
    display: block;
  }

  .future{
    display:flex;
    flex-direction:row ;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .future div{
    max-width: 40%;
  }

  .tukur{
    padding: 25px 150px;
  }

  .tukur h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    max-width: 300px;
    line-height: 2.5rem;
  }

  .tukur p{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    max-width: 340px;
    line-height: 1.4rem;
  }